.logo img {
  background-color: white;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  padding: 5px;
}

.titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: black solid; */
  background-color: #e2f7d7;
}

.tudissimo {
  background-color: #e2f7d7;
}

.titulo h1 {
  font-size: 50px;
  color: #68b528;
  -webkit-text-stroke: 2px #5b9a28;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 5px;
  text-align: center;
}

.anuncio h4 {
  color: red;
}

.titulo p {
  font-size: 22px;
  color: black;
  margin-bottom: 20px;
  text-align: center;
}

.anuncio img {
  width: 400px;
  height: 300px;
  border-radius: 700px;
  margin-left: 40px;
  margin-right: 40px;
}

.anuncio img:hover {
  transform: scale(1.35);
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border-radius: 5px;
  border: 10px black;
}

.anuimg {
  margin-top: 40px;
}

.anuncio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 20px 20px 20px 20px;
}

.anuncio h1 {
  font-size: 40px;
  color: #2831b5;

  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 5px;
  text-align: center;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
