
.perfil_usuario {
    max-width: 700px; 
    margin: 40px auto;
    padding: 20px;
    background: radial-gradient(#ddffc1, #c4ff95);   
    border-radius: 25px;
    text-align: left;
}

.perfil_usuario h2 {
    text-align: center;
    color: #497e1d; 
    font-size: 1.8em;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid #85bb4a; 
}


#dados_perfil p {
    margin: 0; 
    color: #333; 
    font-size: 1.1em;
    background-color: #53be006e; 
    padding: 10px; 
    border-radius: 10px; 
    border: #8080805e solid 1px;
    display: flex;
    flex-wrap: wrap; 
}

#dados_perfil strong {
    color: #fff; 
    display: inline-block;
    min-width: 140px; 
    margin-right: 15px;
}


.acoes-perfil {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    padding-top: 20px;
    
}

.acoes-perfil button {
    border: none;
    padding: 12px 25px;
    text-align: center;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
  
    font-weight: bold;
    flex-grow: 1;
    
}


.acoes-perfil button a {
    color: white;
    text-decoration: none;
    display: block;
}


.btn-editar {
    background-color: #447220;
}

.btn-editar button a {
     color: white;
}
.btn-editar:hover {
    background-color: #082009; 
}
.btn-deletar {
    background-color: #dc3545; 
}
.btn-deletar:hover {
    background-color: #c9302c; 
}

