body {
    background-color: #e2f7d7;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.titulo h1 {
    font-size: 50px;
    color: #68b528;
    -webkit-text-stroke: 2px #5b9a28;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 5px;
}

.titulo h3 {
    color: #ff0000;
    margin-bottom: 5px;
}

.titulo p {
    font-size: 22px;
    color: black;
    margin-bottom: 20px;
}

.logo img {
    background-color: white;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    padding: 5px;
}

.formulario {
    display: flex;
    flex-direction: column;
    width: 900px;
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;
    background-color: #f7fff2;

}

.formulario h1 {
    font-size: 30px;
    color: #4f7942;
    text-align: center;
    margin-bottom: 20px;
}

.formulario h4 {
    font-style: italic;
    color: black;
    text-align: center;  
}

.formulario form {
    display: flex;
    flex-direction: column;
}

.formulario form label {
    font-weight: bold;
    color: #4f7942;
    text-align: left;
}

.formulario form input {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 12px;
    width: 95%;
   
}

.formulario form input::placeholder {
    color: #a0a0a0;
    font-style: italic;
}

.formulario form textarea {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 12px;
    width: 95%;
    height: 120px;
   
}

.formulario form select {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 12px;
    width: 98%;
    transition: all .3s ease-in-out;
    background-color: white;
  
}


.formulario button {
    display: flex;


   
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
    
    
    border-radius: 15px;
    background: linear-gradient(90deg,
      #5db316,
      #bbe292);
    padding: 8px;
    width: 30%;
    margin-top: 20px;
}

.formulario button:hover {
    color: white;
    cursor: pointer;
}